@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  letter-spacing: 1px;;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(178, 174, 174);
  margin: 0;
  padding: 0;
}

.recipe p{
  max-width: 90%;
  overflow: hidden;
}

.root{
  display: flex;
  flex-direction: column;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
  color: blue;
}

.recipe-container .recipe{
  border: 1px solid black;
  margin: 2px;
  border-radius: 1rem;
}

.search-form {
  margin-top: 18px;
}

.search-input {
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 15px;
}

.submit-btn {
  padding: 6px 16px;
  margin-left: 2px;
  font-size: 16px;
  background-color: rgb(20, 231, 55);
  border: 2px solid rgb(20, 231, 55);
  border-radius: 4px;
  color: white;
}

.submit-btn:hover{
  cursor: pointer;
}

.recipe:hover {
  cursor: pointer;
  color:rgb(20, 231, 55);
}

.recipe-ingredients {
  position: relative;
  background-color: white;
  color: #22254b;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.recipe:hover .recipe-ingredients{
  max-width: 19rem;
  max-height: 10rem;
  top: -20rem;
  margin-bottom: 0;
  padding: 0;
  overflow: scroll;
  display: grid;
  transform: translateY(0%);
}

.recipe-img {
  width: 100%;
  height: 100%;
  
  border-radius: 1rem;
}

.recipe-name {
  text-align: center;
  margin: 12px 0px;
}

.recipes-grid {
  margin: 0px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  padding: 1rem;
}

